<!-- <div class="col-xl-9 col-lg-8 wow fadeInRight"> -->
<!-- <div class="dashboard_content"> -->
<div class="dashboard_content">
  <h2 class="dashboard_title">活動紀錄</h2>
  <div class="dashboard_order">
    <div class="table-responsive">
      <table>
        <thead>
          <tr>
            <th>訂單編號</th>
            <th>訂單日期</th>
            <th>活動日期</th>
            <th>狀態</th>
            <th>訂單明細</th>
          </tr>
        </thead>
        <!-- <tbody>
          <tr *ngFor="let order of orders">
            <td>{{ order.orderNumber }}</td>
            <td>{{ order.orderDate }}</td>
            <td>${{ order.totalAmount }}</td>
            <td><span
                [ngClass]="{'complete': order.status === '已完成', 'cancel': order.status === '未完成', 'active': order.status === '待處理'}">{{
                order.status }}</span></td>
            <td><a [routerLink]="order.detailLink">查看明細</a></td>
          </tr>
        </tbody> -->
      </table>
    </div>
  </div>
  <div class="pagination_area mt_35 xs_mb_60 wow fadeInUp">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <i class="far fa-arrow-left"></i>
          </a>
        </li>
        <li class="page-item"><a class="page-link active" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>
        <li class="page-item"><a class="page-link" href="#">6</a></li>
        <li class="page-item"><a class="page-link" href="#">7</a></li>
        <li class="page-item"><a class="page-link" href="#">8</a></li>
        <li class="page-item"><a class="page-link" href="#">9</a></li>
        <li class="page-item"><a class="page-link" href="#">10</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <i class="far fa-arrow-right"></i>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
<!-- </div>
</div> -->