    <!--==========================
        FORGOT PASSWORD START
    ===========================-->
    <section class="sign_up sign_in">
      <div class="row justify-content-center">
          <div class="col-xl-6 col-lg-6 wow fadeInLeft">
              <div class="sign_in_img">
                  <img src="assets/images/forgotpassword.png" alt="sign in" class="img-fluid w-100">
              </div>
          </div>
          <div class="col-xl-6 col-md-10 col-lg-6 wow fadeInRight">
              <div class="sign_in_form">
                  <a class="sign_in_logo" href="index.html">
                      <img src="assets/images/1-1.png" alt="sign in" class="img-fluid w-100">
                  </a>
                  <h2>忘記密碼 ?</h2>
                  <p class="description">請輸入您的信箱重設密碼</p>
                  <form (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col-xl-12">
                            <input type="email" [(ngModel)]="email" name="email" placeholder="輸入信箱..." required>
                        </div>
                        <div class="col-12">
                            <button class="common_btn" type="submit">發送驗證信</button>
                        </div>
                    </div>
                </form>
                <p *ngIf="message" class="text-center mt-3">{{ message }}</p>
              </div>
          </div>
      </div>
  </section>
  <!--==========================
      FORGOT PASSWORD END
  ===========================-->
