<!--==========================
        BREADCRUMB AREA START
    ===========================-->
<section class="breadcrumb_area" style="background: url(assets/images/productRelate/prodlist.jpg);">
  <div class="container">
    <div class="row wow fadeInUp">
      <div class="col-12">
        <div class="breadcrumb_text">
          <h1>商城</h1>
          <ul>
            <li><a href="#">Home </a></li>
            <li><a href="#">menu style 03</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!--==========================
      BREADCRUMB AREA END
  ===========================-->


<!--==========================
      MENU STYLE 03 START
  ===========================-->
<section class="menu_grid_view mt_120 xs_mt_100">
  <div class="container">
    <div class="row">
      <div class="col-xl-3 col-lg-4 col-md-6 order-2 wow fadeInLeft">
        <div class="menu_sidebar sticky_sidebar">
          <!-- 關鍵字搜尋 -->
          <div class="sidebar_wizard sidebar_search">
            <h2>搜尋</h2>
            <form (ngSubmit)="onKeywordSearch()">
              <input type="text" [(ngModel)]="keyword" placeholder="Search here..." name="keyword" />
              <button type="submit"><i class="far fa-search"></i></button>
            </form>
          </div>
          <!-- 價格搜尋 -->
          <div class="sidebar_wizard sidebar_price_ranger mt_25 sidebar_search ">
            <h2>價格
              <button class="search-icon" (click)="checkPrice()">
                  <i class="far fa-search"></i>
              </button>
          </h2>
          <div class="price_ranger">
              <input type="hidden" id="slider_range" class="flat-slider" />
          </div>
          </div>
          <!-- 類別搜尋 -->
          <div class="sidebar_wizard sidebar_category mt_25">
            <h2>類別</h2>
            <ul>
              <li><a  (click)="onCategoryChange('')">全部</a></li>
              <li><a  (click)="onCategoryChange('生活')">生活</a></li>
              <li><a  (click)="onCategoryChange('服飾')">服飾</a></li>
              <li><a  (click)="onCategoryChange('開運')">開運</a></li>
              <li><a  (click)="onCategoryChange('文創')">文創</a></li>
              <li><a  (click)="onCategoryChange('香品')">香品</a></li>
              <li><a  (click)="onCategoryChange('養生')">養生</a></li>
            </ul>
          </div>
        </div>
      </div>

      <!-- 產品列表 -->
      <div class="col-xl-9 col-lg-8 order-lg-2">
        <div class="row">
          <div class="col-xl-4 col-sm-6" *ngFor="let product of paginatedProducts">
            <div class="single_menu">
              <div class="single_menu_img">
                <img [src]="product.fProdImage" alt="menu" class="img-fluid w-100" />
                <ul>
                  <li><a href="#"><i class="far fa-eye"></i></a></li>
                  <li><a href="#"><i class="far fa-heart"></i></a></li>
                </ul>
              </div>
              <div class="single_menu_text">
                <a class="category" href="#">{{product.fProdCategory}}</a>
                <a class="title" href="#">{{ product.fProdName }}</a>
                <p class="descrption">{{ product.fProdDescription }}</p>
                <div class="d-flex flex-wrap align-items-center">
                  <!-- <a class="add_to_cart" href="#" data-bs-toggle="modal" data-bs-target="#cartModal">加入購物車</a> -->
                  <a class="add_to_cart" href="#" (click)="CurrentProductToItem(product)" data-bs-toggle="modal"
                    data-bs-target="#cartModal">加入購物車</a>
                  <h3>${{ product.fProdSellingPrice }} <del>${{ product.fProdPrice }}</del></h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 分頁 -->
        <div class="pagination_area mt_35 xs_mb_60 wow fadeInUp">
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li class="page-item" [class.disabled]="currentPage === 1">
                <a class="page-link" (click)="changePage(currentPage - 1)" aria-label="Previous">
                  <i class="far fa-arrow-left"></i>
                </a>
              </li>
              <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index">
                <a class="page-link" [class.active]="currentPage === i + 1" (click)="changePage(i + 1)">{{i + 1}}</a>
              </li>
              <li class="page-item" [class.disabled]="currentPage === totalPages">
                <a class="page-link" (click)="changePage(currentPage + 1)" aria-label="Next">
                  <i class="far fa-arrow-right"></i>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>

<!--==========================
      MENU STYLE 03 END
  ===========================-->
