    <!--====================================
        DASHBOARD CHANGE PASSWORD START
    =====================================-->
    <section class="dashboard pt_120 xs_pt_80">
      <div class="container">
          <div class="row">
              <div class="col-xl-3 col-lg-4 wow fadeInLeft">
                  <div class="dashboard_sidebar">
                      <div class="dashboard_sidebar_user">
                          <div class="img">
                              <img src="assets/images/dashboard_user_img.png" alt="dashboard" class="img-fluid w-100">
                              <label for="profile_photo"><i class="far fa-camera"></i></label>
                              <input type="file" id="profile_photo" hidden>
                          </div>
                          <h3>Addition Smith</h3>
                          <p>Paris, France</p>
                      </div>
                      <div class="dashboard_sidebar_menu">
                          <ul>
                              <li><a routerLink="/user/personelinfo"><i class="fas fa-user"></i> 會員資料</a></li>
                              <li><a routerLink="/act/userarea"><i class="fas fa-clipboard-list"></i> 活動紀錄</a>
                              </li>
                              <li><a routerLink="/orderdetail"><i class="fas fa-shopping-basket"></i> 訂單列表</a></li>
                              <li><a routerLink="/donaterecord"><i class="fas fa-star"></i> 捐款紀錄</a></li>
                              <li><a routerLink=""><i class="fas fa-heart"></i> 願望清單</a></li>
                              <li><a class="active" routerLink="/user/changepassword"><i class="fas fa-key"></i>
                                更改密碼</a></li>
                              <li><a href="#"><i class="fas fa-sign-out-alt"></i> 登出帳戶</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="col-xl-9 col-lg-8 wow fadeInRight">
                  <div class="dashboard_content">
                      <h2 class="dashboard_title">更換密碼</h2>
                      <form class="dashboard_change_password">
                          <div class="row">
                              <div class="col-md-6">
                                  <input type="password" placeholder="原密碼">
                              </div>
                              <hr>
                              <div class="col-md-6">
                                  <input type="password" placeholder="新密碼">
                              </div>
                              <div class="col-md-6">
                                  <input type="password" placeholder="確認密碼">

                              </div>
                              <div>
                                <button type="submit" class="common_btn">確認修改</button>
                                <P>修改後須重新登入</P>
                              </div>

                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!--====================================
      DASHBOARD CHANGE PASSWORD END
  =====================================-->
