<section class="menu_item pt_125 xs_pt_85">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 mt_30 m-auto wow fadeInUp">
        <div class="section_heading mb_45 xs_mb_50">
          <h2>購物車</h2>
        </div>
      </div>
    </div>

  <!--==========================
      CART VIEW START
  ===========================-->
  <section class="cart_view mt_5 xs_mt_95">
      <div class="container">
          <div class="row wow fadeInUp">
              <div class="col-lg-12">
                  <div class="cart_list">
                      <div class="table-responsive">
                          <table>
                              <thead>
                                  <tr>
                                      <th class="pro_img">商品</th>

                                      <th class="pro_name">說明</th>

                                      <th class="pro_tk">單價</th>

                                      <th class="pro_select">數量</th>

                                      <th class="pro_tk">總價</th>

                                      <th class="pro_icon">
                                          <a class="clear_all" href="#">取消</a>
                                      </th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td class="pro_img">
                                          <img src="assets/images/cart_img_1.png" alt="product"
                                              class="img-fluid w-100">
                                      </td>

                                      <td class="pro_name">
                                          <a href="#">Hyderabadi Biryani</a>
                                          <span>medium</span>
                                          <p>coca-cola</p>
                                      </td>

                                      <td class="pro_tk">
                                          <h6>$180.00</h6>
                                      </td>

                                      <td class="pro_select">
                                          <div class="quentity_btn">
                                              <button><i class="fal fa-minus"></i></button>
                                              <input type="text" placeholder="1">
                                              <button><i class="fal fa-plus"></i></button>
                                          </div>
                                      </td>

                                      <td class="pro_tk">
                                          <h6>$180,00</h6>
                                      </td>

                                      <td class="pro_icon">
                                          <a href="#"><i class="far fa-times"></i></a>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td class="pro_img">
                                          <img src="assets/images/cart_img_2.png" alt="product"
                                              class="img-fluid w-100">
                                      </td>

                                      <td class="pro_name">
                                          <a href="#">Chicken Masala</a>
                                          <span>small</span>
                                          <p>7up</p>
                                      </td>
                                      <td class="pro_tk">
                                          <h6>$140.00</h6>
                                      </td>

                                      <td class="pro_select">
                                          <div class="quentity_btn">
                                              <button class="btn btn-danger"><i class="fal fa-minus"></i></button>
                                              <input type="text" placeholder="1">
                                              <button class="btn btn-success"><i class="fal fa-plus"></i></button>
                                          </div>
                                      </td>

                                      <td class="pro_tk">
                                          <h6>$140,00</h6>
                                      </td>

                                      <td class="pro_icon">
                                          <a href="#"><i class="far fa-times"></i></a>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td class="pro_img">
                                          <img src="assets/images/cart_img_3.png" alt="product"
                                              class="img-fluid w-100">
                                      </td>

                                      <td class="pro_name">
                                          <a href="#">Daria Shevtsova</a>
                                          <span>large</span>
                                          <p>7up</p>
                                      </td>

                                      <td class="pro_tk">
                                          <h6>$220.00</h6>
                                      </td>

                                      <td class="pro_select">
                                          <div class="quentity_btn">
                                              <button class="btn btn-danger"><i class="fal fa-minus"></i></button>
                                              <input type="text" placeholder="1">
                                              <button class="btn btn-success"><i class="fal fa-plus"></i></button>
                                          </div>
                                      </td>

                                      <td class="pro_tk">
                                          <h6>$220,00</h6>
                                      </td>

                                      <td class="pro_icon">
                                          <a href="#"><i class="far fa-times"></i></a>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td class="pro_img">
                                          <img src="assets/images/cart_img_4.png" alt="product"
                                              class="img-fluid w-100">
                                      </td>

                                      <td class="pro_name">
                                          <a href="#">Hyderabadi Biryani</a>
                                          <span>medium</span>
                                          <p>coca-cola</p>
                                      </td>

                                      <td class="pro_tk">
                                          <h6>$150.00</h6>
                                      </td>

                                      <td class="pro_select">
                                          <div class="quentity_btn">
                                              <button class="btn btn-danger"><i class="fal fa-minus"></i></button>
                                              <input type="text" placeholder="1">
                                              <button class="btn btn-success"><i class="fal fa-plus"></i></button>
                                          </div>
                                      </td>

                                      <td class="pro_tk">
                                          <h6>$150.00</h6>
                                      </td>

                                      <td class="pro_icon">
                                          <a href="#"><i class="far fa-times"></i></a>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td class="pro_img">
                                          <img src="assets/images/cart_img_5.png" alt="product"
                                              class="img-fluid w-100">
                                      </td>

                                      <td class="pro_name">
                                          <a href="#">Hyderabadi Biryani</a>
                                          <span>medium</span>
                                          <p>7up</p>
                                      </td>

                                      <td class="pro_tk">
                                          <h6>$150.00</h6>
                                      </td>

                                      <td class="pro_select">
                                          <div class="quentity_btn">
                                              <button class="btn btn-danger"><i class="fal fa-minus"></i></button>
                                              <input type="text" placeholder="1">
                                              <button class="btn btn-success"><i class="fal fa-plus"></i></button>
                                          </div>
                                      </td>

                                      <td class="pro_tk">
                                          <h6>$150.00</h6>
                                      </td>

                                      <td class="pro_icon">
                                          <a href="#"><i class="far fa-times"></i></a>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
          <div class=" cart_list_footer_button mt_60">
              <div class="row wow fadeInUp">
                  <div class="col-xl-8 col-md-6 col-lg-7">
                      <!-- <form>
                          <input type="text" placeholder="Coupon Code">
                          <button class="common_btn" type="submit">apply Coupon</button>
                      </form> -->
                  </div>
                  <div class="col-xl-4 col-md-6 col-lg-5">
                      <div class="cart_summery">
                          <h6>總金額</h6>
                          <p hidden>subtotal: <span>$124.00</span></p>
                          <p hidden>delivery: <span>$00.00</span></p>
                          <p hidden>discount: <span>$10.00</span></p>
                          <p class="total"><span>總價:</span> <span>$134.00</span></p>
                          <a class="common_btn" href="checkout.html">付款</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!--==========================
      CART VIEW END
  ===========================-->
