<!--==========================
        ERROR START
    ===========================-->
<section class="error_page pt_120 xs_pt_100 mt_120 xs_mt_100">
  <div class="container">
    <div class="row wow fadeInUp">
      <div class="col-xxl-5 col-md-9 col-lg-7 col-xl-6 m-auto">
        <div class="error_text">
          <div class="error_img">
            <img src="assets/images/error_img.png" alt="Error" class="img-fluid w-100">
          </div>
          <h2>Opos! Nothing Was Found</h2>
          <p>Something went wrong, Looks like this page doesn't
            exist anymore.</p>
          <a class="common_btn" href="index.html">go back home</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!--==========================
      ERROR END
  ===========================-->