
<section class="menu_item pt_15 xs_pt_85">

  <div class="row slider-nav">
  </div>
    <!--==========================
        ABOUT US PAGE 01 START
    ===========================-->
    <section class="about_us_story pt_95 xs_pt_65">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-xl-5 wow fadeInLeft">
                    <div class="about_us_story_text">
                        <h2>線上收驚</h2>
                        <p>你是否感到最近生活諸事不順？身體無端疲憊，心情焦躁不安，甚至半夜驚醒，煩惱接連不斷？可能是惡運纏身，讓你的運勢一蹶不振。別擔心！來我們專業的收驚服務，讓你重新找回心靈的平靜、生活的順暢！

                          我們的收驚儀式融合了傳統道教儀式與現代的心理舒緩方法，經驗豐富的師傅會根據你的情況，進行量身訂製的收驚過程，讓你的身體重回平衡。無論是辦公室的壓力、感情的困擾，還是意外的災厄，都可以通過我們的收驚服務來去除，讓你重新感受到輕盈和安定。

                          </p>
                        <p>此外，我們採用乾淨、專業的儀式空間，讓你可以在安靜的環境下專注於身心的調整。不僅如此，每次收驚還會附上開運護身符，將好運常伴身旁。無論你是遭遇厄運纏身、或僅僅想要加強運勢，我們的收驚服務將會是你的最佳選擇！

                          讓不安離你而去，迎接全新的自己！趕快來電預約吧，專業的收驚服務讓你開啟全新氣象，迎接幸運人生！</p>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="about_us_story_img">
                        <div class="row">
                            <div class="col-lg-8 col-sm-6 wow fadeInLeft">
                                <div class="about_us_story_img_large">
                                    <img src="assets/images/exorcise/001.jpg" alt="story" class="img-fluid w-100">
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 wow fadeInRight">
                                <div class="about_us_story_img_small">
                                    <img src="assets/images/exorcise/002.jpg" alt="story" class="img-fluid w-100">
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 wow fadeInLeft">
                                <div class="about_us_story_img_small">
                                    <img src="assets/images/exorcise/004.jpg" alt="story" class="img-fluid w-100">
                                </div>
                            </div>
                            <div class="col-lg-8 col-sm-6 wow fadeInRight">
                                <div class="about_us_story_img_large">
                                    <img src="assets/images/exorcise/005.jpg" alt="story" class="img-fluid w-100">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="reservation" class="about_reservation reservation mt_120 xs_mt_100">
        <div class="container">
            <div class="reservation_bg">
                <div class="row">
                    <div class="col-xl-7 col-lg-6 wow fadeInLeft">
                        <div class="reservation_img">
                            <img src="assets/images/exorcise/003.jpg" alt="reservation" class="img-fluid w-100">
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-6 wow fadeInRight">
                        <div class="reservation_form">
                            <h3>立即預約</h3>
                            <form action="#">
                                <div class="reservation_form_input">
                                    <input type="text" placeholder="受驚人">
                                </div>
                                <div class="reservation_form_input">
                                    <input type="email" placeholder="電子郵件">
                                </div>
                                <div class="reservation_form_input">
                                    <!-- <select class="select_2" name="state">
                                        <option value="AL">收驚方式</option>
                                        <option value="">1 Person</option>
                                        <option value="">2 Person</option>
                                        <option value="">3 Person</option>
                                        <option value="">4 Person</option>
                                        <option value="">5 Person</option>
                                    </select> -->
                                </div>
                                <div class="reservation_form_input">
                                    <input type="date">
                                </div>

                                <div class="reservation_form_input">
                                    <button class="common_btn" type="submit">加入購物車</button>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--==========================
        ABOUT US PAGE 01 END
    ===========================-->
